.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card summary {
  font-weight: bold;
  font-size: 1.1em;
  color: rgb(65, 87, 56);
  cursor: pointer;
}

.card p {
  display: flex;
  border-radius: 12px;
  padding: 1em 1.5em;
  margin-bottom: -1em;
}

.highlighted span {
  background-color: yellow;
}
