:root {
  /* max width */
  --max-w-xl: 2400px;
  --max-w-lg: 1240px;
  --max-w-md: 800px;
  --max-w-sm: 500px;

  /* color */
  --clr-primary: #0f6247;
  --clr-primary-light: #27926e;
  --clr-bg: #e6e6e6;
  --clr-font-dark: #1d1d1d;
  --clr-font-mid: #4e4e4e;
  --clr-font-light: #636363;
  --clr-line: #d1d1d1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
a {
  color: var(--clr-font-dark);
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--clr-bg);
}

@media (max-width: 700px) {
  body {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.9rem;
  }
}
