.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  background-color: #f3f3f3;
  border-radius: 12px;
  max-width: var(--max-w-lg);
  width: 100%;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 38rem;
}

.title h1 {
  font-weight: bold;
  font-size: 2.5em;
  color: var(--clr-primary);
  line-height: 3rem;
}

.title p {
  color: var(--clr-font-light);
}

.imgContainer {
  position: relative;
  flex-shrink: 0;
}

.imgContainer img {
  object-fit: cover;
}

.quote {
  display: flex;
  width: 2em;
  height: 2em;
  position: relative;
  flex-shrink: 0;
}

.quote svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: rgb(143, 189, 131);
}

.quoteReversed {
  transform: rotateX(180deg) rotateY(180deg);
  margin-top: auto;
}

.rating {
  display: flex;
  gap: 0.2em;
}

.star {
  width: 1.5em;
  height: 1.5em;
}

.star svg {
  width: 100%;
  height: 100%;
  fill: #eb9e47;
}

.top {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.textContainer {
  display: flex;
  gap: 1em;
}

.user {
  font-weight: bold;
  color: var(--clr-primary-light);
}

.btn {
  padding: 0.5em 2em;
  background-color: #bddaa6;
  width: max-content;
  margin-left: auto;
  margin-top: 2em;
  font-size: 0.9em;
  border-radius: 4px;
}

.btn:hover {
  background-color: #9ae459;
}

.line {
  width: 100%;
  border-bottom: 1px solid var(--clr-line);
}

@media (max-width: 800px) {
  .cardContainer {
    display: grid;
    gap: 4em;
    grid-template-columns: 1fr;
  }

  .btn {
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .title h1 {
    font-size: 2em;
    line-height: 2rem;
  }
}
