.container {
  max-width: var(--max-w-xl);
  margin: auto;
  position: relative;
  width: 100%;
  /* aspect-ratio: 14/3; */
  padding-bottom: 16%;
  min-height: 20rem;
}

.imgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgContainer img {
  object-fit: cover;
}
