.container {
  max-width: var(--max-w-xl);
  margin: auto;
  position: relative;
  width: 100%;
  aspect-ratio: auto 14/3;
  min-height: 20rem;
}

@supports (aspect-ratio: 16 / 9) {
  .container {
    aspect-ratio: initial;
    padding-bottom: 16%;
    display: none;
  }
}

.imgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgContainer img {
  object-fit: cover;
}

@media (max-width: 1240px) {
  .imgContainer {
    right: 0%;
    left: auto;
  }
}
